{% extends 'base.html' %}
{% block head %}

<link rel="stylesheet" href="') }}">
<title>Home</title>
{% endblock %}

{%block body%}
<h1>Web Exploit Project</h1>
<h2>What is our main motive ?</h2>
<p>The main motive of our website is to make people aware of stocks and how it is improving India's economy. During this covid situation many people lost their home, they became financially weak, salaries were cut down in half. So this stocks website will help people to invest in stocks.</p>
 
{% endblock %}

