{% extends 'base.html' %}
{% block head %}


<title>About Us</title>
{% endblock %}

{%block content%}
<h1>About Us </h1>
<h2>What is our main motive ?</h2>
<p>The main motive of our website is to make people aware of many economical concepts and how it is improving India's economy in a fun way. During this covid situation many people lost their homes and jobs, they became financially weak, salaries were cut down in half. So this website will help the youth learn more about economics.
</p>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The Credits of this website goes to.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Avanindra Chakraborty </h2>
            <h3 class="text-gray-500 mb-3">Backend Developer</h3>
            
            
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/201x201">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Tamound Sharma</h2>
            <h3 class="text-gray-500 mb-3">Backend Developer</h3>
            
            
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/204x204">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Sion Chowdhury</h2>
            <h3 class="text-gray-500 mb-3">Frontend Developer</h3>
           
            
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/206x206">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Ayushman Biswas</h2>
            <h3 class="text-gray-500 mb-3">Frontend Developer</h3>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 
{% endblock %}

