{% extends "base.html" %}
{% block head %}
    <title>EcoEdu</title>
{% endblock %}
{% block body %}
<h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">What is the main motive of our website ?</h1>
      <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          <img alt="hero" src="https://source.unsplash.com/720x600/?stocks market,money">
          <div class="text-center lg:w-2/3 w-full">
            
            <p class="mb-8 leading-relaxed">The main motive of our website is to make people aware of many economical concepts and how it is improving India's economy in a fun way. During this covid situation many people lost their homes and jobs, they became financially weak, salaries were cut down in half. So this website will help the youth learn more about economics.</p>
            <div class="flex justify-center">
              
            </div>
          </div>
        </div>
      </section>
      <style>
         img{
             width:100%;
         }
         p{
             font-size:150%
         }
         </style>
{% endblock %}
