body{
        margin:0;
        background-color: black;
        
}
h1{
        background-color: black;
        font-family: 'Franklin Gothic Medium';
        font-size: 50px;
        color: red;
        text-align: center;
}
h2{
        background-color: black;
        font-family: cursive;
        font-size: 30px;
        color: red;
        text-align: center;
        
}
a:link, a:visited {
        background-color: #f44336;
        color:rgba(40, 40, 238, 0.911);
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: red;
      }